*.pyc
.idea/
.metadata
.settings
*.project
*.pydevproject
*.settings/org.eclipse.*
.DS_Store
log.html
output.xml
rerun.xml
report.html
ConsoleErrors.txt
*-screenshot*.png
debug.log
geckodriver.log
ghostdriver.log
Sikuli_java_std*
/libspecs/
red.xml

